{extend name="layout/app" /}
{block name="ext_css"}
<link rel="stylesheet" href="/static/admin/css/preview.css">
{/block}

{block name="content"}
<section class="ui panel">
    <header class="panel-heading">
        <h1 class="text-center">{$projects_name}</h1>
    </header>
    <div class="panel-body">
        <h3 class="text-left">审核照片</h3>
        <div class="row">
            {if condition="$response[5] eq ''"}
            <div class="col-md-4">
                <img src="{$response[2]}" width="100%" alt="身份证正面">
            </div>
            <div class="col-md-4">
                <img src="{$response[3]}" width="100%" alt="身份证反面">
            </div>
            <div class="col-md-4">
                <img src="{$response[4]}" width="100%" alt="身份证第一面">
            </div>
            {else /}
            <div class="col-md-3">
                <img src="{$response[2]}" width="100%" alt="身份证正面">
            </div>
            <div class="col-md-3">
                <img src="{$response[3]}" width="100%" alt="身份证反面">
            </div>
            <div class="col-md-3">
                <img src="{$response[4]}" width="100%" alt="身份证第一面">
            </div>
            <div class="col-md-3">
                <img src="{$response[5]}" width="100%" alt="工商营业执照">
            </div>
            {/if}
        </div>
    </div>
    <hr>
    <div class="panel-body">
        <h3 class="text-left">项目计划书</h3>
        <div class="ui attached segment">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="100%" height="550px" src="{$response[0]}"></iframe>
            </div>
        </div>
    </div>
    <hr>
    <div class="panel-body">
        <h3 class="text-left">创业申报表</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="100%" height="550px" src="{$response[1]}"></iframe>
        </div>
    </div>
</section>

{/block}

