<div class="full-width-carousel white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12">
                <div class="text-center box-img border-gray">
                    <img height="30" src="/static/index/images/logo_blue.svg" onerror="this.src='/static/index/images/logo_blue.png'" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template border-gray">
                    <img height="45" src="/static/index/images/write.svg" onerror="this.src='/static/index/images/write.png'" alt="">
                    <p class="box-title">SYB创业培训</p>
                    <p class="box-content">创业必备培训课程，模拟运营</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>立即报名</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template border-gray">
                    <img height="45" src="/static/index/images/fly.svg" onerror="this.src='/static/index/images/fly.png'" alt="">
                    <p class="box-title">企业注册</p>
                    <p class="box-content">化想象为行动，开启创业之旅</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>立即咨询</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template border-gray">
                    <img height="45" src="/static/index/images/coin.svg" onerror="this.src='/static/index/images/coin.png'" alt="">
                    <p class="box-title">投融资服务</p>
                    <p class="box-content">专业投资、融资、路演平台</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>了解详情</b></p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>