<div class="gray-bg full-width-carousel">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12">
                <div class="box-template">
                    <img height="45" src="/static/index/images/money.svg" onerror="this.src='/static/index/images/money.png'" alt="">
                    <p class="box-title">创业补贴</p>
                    <p class="box-content">运营三月以上即可申请</p>
                    <p class="box-content">自由申报，操作简单、方便</p>
                    <div class="box-advantage">
                        <div><p><span>流 程</span><br>少</p></div>
                        <div><p><span>安 全</span><br>高</p></div>
                        <div><p><span>审 核</span><br>快</p></div>
                    </div>
                    <hr class="separate">
                    <p class="box-vertical-price"><b>10000.00元</b></p>
                    <div class="box-btn border-orange no-margin">
                        <a href="javascript:void(0);" @click="cybtGetIdTapped()">
                            <p class="box-highlight"><b>了解详情</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template">
                    <img height="45" src="/static/index/images/wallet.svg" onerror="this.src='/static/index/images/wallet.png'" alt="">
                    <p class="box-title">创业基金</p>
                    <p class="box-content">鼓励支持大学生自主创业</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>资助 30 万元</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template">
                    <img height="45" src="/static/index/images/star.svg" onerror="this.src='/static/index/images/star.png'" alt="">
                    <p class="box-title">苗子工程</p>
                    <p class="box-content">培养青年科技后备力量</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>资助 1~10 万元</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template">
                    <img height="45" src="/static/index/images/calendar.svg" onerror="this.src='/static/index/images/calendar.png'" alt="">
                    <p class="box-title">创业训练计划</p>
                    <p class="box-content">老师指导，纯商业模式训练</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>资助 1 万元</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template">
                    <img height="45" src="/static/index/images/store.svg" onerror="this.src='/static/index/images/store.png'" alt="">
                    <p class="box-title">孵化园入驻</p>
                    <p class="box-content">提供大学生创业、办公场地</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>免费入驻</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template">
                    <img height="45" src="/static/index/images/sun.svg" onerror="this.src='/static/index/images/sun.png'" alt="">
                    <p class="box-title">俱乐部入驻</p>
                    <p class="box-content">创业俱乐部等你来</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>查看详情</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ss-12 disabled">
                <div class="box-template">
                    <img height="45" src="/static/index/images/more.svg" onerror="this.src='/static/index/images/more.png'" alt="">
                    <p class="box-title">更多政策</p>
                    <p class="box-content">来发现更多的创业政策吧</p>
                    <div class="box-btn">
                        <a href="javascript:void(0);">
                            <p class="box-highlight"><b>戳我了解</b></p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>