<html>
	<head>
		
		<title>
			
		</title>
	</head>
	<body>
	<h1>请选择要上传的文件</h1>
		<form action='/file/get/getsrcfile' enctype='multipart/form-data' name='file_form' method='post'>
			<input type='file' name='file'><br>
			<input type='file' name='image'><br>
			<input type='text' name='text' value='<h2>你好</h2>'><br>
			<input type='text' name='id[]' value='2'><br>
			<input type='text' name='id[]' value='3'><br>
			<input type='text' name='id[]' value='12'><br>
			<input type='text' name='id[]' value='13'><br>
			<input type='text' name='id[]' value='14'><br>
			<input type='text' name='id[]' value='15'><br>
			<input type='text' name='id[]' value='16'><br>
			<input type='text' name='id[]' value='17'><br>
			<input type='text' name='id2' value='542'><br>
			<input type='text' name='uid' value='2'><br>
			<input type='text' name='type' value='2'><br>
			<input type="submit" name="submit"value="上　传">
		</form>
	</body>
</html>