<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}{/block} 个人中心 - {$webname} - {$organization}</title>
    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/index/css/users/bootstrap-reset.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/index/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index/css/square/_all.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/index/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link rel="stylesheet" href="/static/index/css/index.css">
    <link rel="stylesheet" href="/static/index/css/lorin.css">
    {block name="ext_css"}{/block}  <!--扩展css样式-->
    <link rel="stylesheet" href="/static/index/css/users/style.css">

    <link rel="stylesheet" href="/static/index/css/style.css">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="//cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
</head>
<body>
{include file="layout/navbar" /}  <!--导航栏钩子-->

<div class="users content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                {include file="layout/sidebar" /} <!--侧边栏-->
            </div>
            <div class="col-md-9 col-xs-12">
                {block name="content"}{/block}    <!--主体内容钩子，自定义里面的内容-->
            </div>
        </div>
    </div>
</div>
{include file="layout/footer" /}  <!--网站页脚钩子-->
<script src="/static/index/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
<script>
    var vm=new Vue({
        el:"body",
        data:{
            userName:"",
            password:"",
            email:"",
            phone:""
        },
        methods:{
            login:function(){
                var data={username:vm.userName,passwd:vm.password};
                $.ajax({
                    type:"post",
                    dataType:"json",
                    data:data,
                    url:"{:url('user/login/login')}",
                    success:function(res){
                        if(res.code===1){
                            location.reload();
                        }else{
                            swal({
                                title:'',
                                text:res.msg,
                                type:"error",
                                closeOnConfirm:false
                            });
                        }
                    }
                })
            },
            signUp:function(){
                var data={username:vm.userName,passwd:vm.password,email:vm.email,phone:vm.phone};
                $.ajax({
                    type:"POST",
                    dataType:"json",
                    data:data,
                    url:"{:url('user/login/register')}",
                    success:function(res) {
                        if (res.code === 1) {
                            swal(res.msg,"","success");
                            location.reload();
                        } else {
                            swal(res.msg,"","error");
                        }
                    },
                    error:function(){
                        swal("系统错误");
                    }
                });
            },
            logout:function(){
                $.getJSON({
                    url:"{:url('user/login/logout')}",
                    success:function(res){
                        swal(res.msg);
                    }
                })
                location.href="{:url('index/index/index')}";
            }
        }
    })
</script>
{block name="ext_js"}{/block}  <!--扩展js样式-->
</body>
</html>