{extend name="layout/app" /}

{block name="title"}修改密码 - {/block}

{block name="ext_css"}
<link href="//cdn.bootcss.com/select2/4.0.3/css/select2.min.css" rel="stylesheet">
{/block}
{block name="content"}
<section class="panel">
    <div class="bio-graph-heading">
        <h1>修改密码</h1>
    </div>
    <section class="panel">
        <div class="panel-body">
            <div class=" form">
                <form class="cmxform form-horizontal tasi-form" id="Form">
                    <input type="hidden" value="{$user_id}">
                    <div class="form-group ">
                        <label for="InputOldPassword" class="control-label col-lg-2">请输入旧密码：</label>
                        <div class="col-lg-10">
                            <input class="form-control" v-model="old_pwd" id="InputOldPassword" type="text" >
                            <label for="InputOldPassword" v-show="old_pwd_notice" class="error">请输入旧密码!</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="InputNewPassword" class="control-label col-lg-2">请输入新密码：</label>
                        <div class="col-lg-10">
                            <input class="form-control" v-model="new_pwd" id="InputNewPassword" type="password" >
                            <label for="InputNewPassword" v-show="new_pwd_notice" class="error">请输入新密码!</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="InputNewPasswordConfirm" class="control-label col-lg-2">请确认新密码：</label>
                        <div class="col-lg-10">
                            <input v-bind:class="{'error':confirm_failed}" class="form-control" v-model="new_pwd_confirm" id="InputNewPasswordConfirm" type="password" >
                            <label for="InputNewPasswordConfirm" v-show="confirm_failed" class="error">两次输入的密码不一致!</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="InputVerify" class="control-label col-lg-2">请输入验证码：</label>
                        <div class="col-lg-10">
                            <div class="input-group m-bot15">

                                <input v-bind:class="{'error':verify_code}" style="border-radius: 4px;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="form-control" v-model="verify" id="InputVerify" type="text" >
                                <span class="input-group-btn">
                                    <button class="btn btn-info form-control" @click="getVerify" style="border-radius: 4px;border-top-left-radius: 0;border-bottom-left-radius: 0;" type="button">获取验证码</button>
                                  </span>
                                <label for="InputVerify" v-show="verify_code" class="error">请输入验证码!</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10 text-center">
                            <button class="btn btn-success btn-app" type="button" v-on:click="updatePassword">保存</button>
                            <a class="btn btn-default btn-app" href="{:url('user/index/index')}">返回</a>
                        </div>
                    </div>
                </form>
                <script>
                    var vm=new Vue({
                        el:"#Form",
                        data:{
                            old_pwd: '',
                            new_pwd: '',
                            new_pwd_confirm: '',
                            verify:'',
                            confirm_failed:false,
                            new_pwd_notice:false,
                            old_pwd_notice:false,
                            verify_code:false
                        },
                        methods: {
                            updatePassword: function () {
                                this.old_pwd_notice=(this.old_pwd=='')?true:false;
                                this.new_pwd_notice=(this.new_pwd=='')?true:false;
                                this.confirm_failed=(this.new_pwd!=this.new_pwd_confirm) ? true : false;
                                this.verify_code=(this.verify=='')?true:false;
                                if(this.old_pwd_notice){
                                    return false;
                                }
                                if(this.new_pwd_notice){
                                    return false;
                                }
                                if(this.confirm_failed){
                                    return false;
                                }
                                if(this.verify_code){
                                    return false;
                                }
                                var data={
                                    passwd:this.old_pwd,
                                    new_passwd:this.new_pwd,
                                    verify_code:this.verify
                                };
                                var btn=event.currentTarget;
                                $.ajax({
                                    type:"POST",
                                    dataType:"json",
                                    data:data,
                                    url:"{:url('user/account/updatePasswd')}",
                                    beforeSend:function(){
                                        $(btn).addClass('disabled');
                                    },
                                    success:function(res){
                                        if(res.code==1){
                                            swal({
                                                title:"",
                                                text:res.msg,
                                                type:'success'
                                            },function(){
                                                location.href=res.url
                                            })
                                        }else{
                                            swal({
                                                title:"",
                                                text:res.msg,
                                                type:'error'
                                            });
                                        }
                                    },
                                    error: function () {
                                        swal({
                                            title:"",
                                            text:"真是抱歉,系统出错了",
                                            type:"error"
                                        },function(){
                                            location.reload();
                                        })
                                    },
                                    complete:function(){
                                        $(btn).removeClass('disabled');
                                    }
                                })

                            },
                            getVerify:function(){
                                var btn=event.currentTarget;
                                $.ajax({
                                    type:"POST",
                                    dataType:"json",
                                    url:"{:url('user/account/sendPasswdVerify')}",
                                    beforeSend:function(){
                                        $(btn).addClass('disabled').text('正在发送中');
                                    },
                                    success:function(res){
                                        if(res.code!=1){
                                            swal({
                                                title:"",
                                                text:res.msg,
                                                type:'error'
                                            },function(){
                                                location.reload();
                                            });
                                        }else{
                                            swal({
                                                title:"",
                                                text:res.msg,
                                                type:'success'
                                            });
                                            $(btn).text('发送完毕');
                                        }
                                    },
                                    error:function(){
                                        swal({
                                            title:"",
                                            text:"抱歉,系统出错了",
                                            type:"error"
                                        },function(){
                                            location.reload();
                                        })
                                    }
                                })
                            }
                        }
                    })
                </script>
            </div>

        </div>
    </section>
</section>
{/block}

{block name="ext_js"}
<script src="//cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>

{/block}